<h1>Adding Restaurant</h1>

<%= form_for @restaurant do |f| %>
  Name: <%= f.text_field :name %><br/>
  Address: <%= f.text_field :address %><br/>
  Specialty: <%= f.text_field :specialty %><br/>
  <%= f.submit %>
<% end %>
<br/>
<%= link_to 'Back', action: 'index' %>
