<h1>Showing Restaurant</h1>

<p>
  <b>Name: </b>
  <%= @restaurant.name %>
</p>

<p>
  <b>Address: </b>
  <%= @restaurant.address %>
</p>

<p>
  <b>Specialty: </b>
  <%= @restaurant.specialty %>
</p>

<b>Average note: </b>
  <%= @restaurant.qualifications.average(:note) %><br/>
<b>Qualifications: </b>
  <%= @restaurant.qualifications.count %><br/>
<b>Average amount spent: </b>
  <%= @restaurant.qualifications.average(:amount_spent) %><br/><br/>

<%= new_comment @restaurant %>

<%= link_to 'Edit', action: 'edit', id: @restaurant %> |
<%= link_to 'Back', action: 'index' %> |
<%= link_to 'Qualify this Restaurant', controller: 'qualifications', action: 'new', restaurant: @restaurant %>

