<p id="notice"><%= notice %></p>

<p>
  <strong>Name: </strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address: </strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Specialty: </strong>
  <%= @restaurant.specialty %>
</p>

<strong>Average note: </strong>
  <%= @restaurant.qualifications.average(:note) %><br/>
<strong>Qualifications: </strong>
  <%= @restaurant.qualifications.count %><br/>
<strong>Average amount spent: </strong>
  <%= @restaurant.qualifications.average(:amount_spent) %><br/><br/>

<%= comments @restaurant %>

<%= new_comment @restaurant %>

<%= link_to 'Edit', action: 'edit', id: @restaurant %> |
<%= link_to 'Back', action: 'index' %> |
<%= link_to 'Qualify this Restaurant', controller: 'qualifications', action: 'new', restaurant: @restaurant %>

